@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: underdog;
	src: url("fonts/Underdog-Regular.ttf");
}

body {
	font-family: arial, sans-serif;
}

h1 a {
	color: black;
	text-decoration: none;
}

.LogoA {
	margin: 0px 0px -60px 0px;
	font-family: underdog;
}

.LogoB {
	margin: 0px 0px 30px 0px;
	padding-left: 150px;
	font-family: underdog;
}

#navbar {
	background-color: darkgreen;
	overflow: hidden;
}
#navbar a {
	float: left;
	text-align: center;
	padding: 14px 16px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	
}
#navbar a:hover {
	background-color: lightgreen;
	color: black;
}
#header {
	background-image:url("Images/headerpg2.png");
	overflow: auto;
}

#header h1 {
	font-size: 30pt;
	margin-left: 150px;
	margin-top: 45px;
}

#header img {
	float: left;
	width: 90px;
	margin-top: 5px;
	margin-left: 50px;
}

#footer {
	overflow: hidden;
	text-align: center;
	padding: 50px;
	background-color: darkgreen;
	color: white;
	clear: both;
}
#footer p a {
	text-decoration: none;
	color: white;
}
.refrences {
	border-top: thick solid;
	padding: 20px 30px;
}
.refrences ul {
	text-align: justify;
	margin: 40px 0px 0px 5%
}

/*---Aqui empieza Paginal Principal---*/
nav {
	background-color: darkolivegreen;
	overflow: hidden;
	text-align: center;
}
nav a{
	float: left;
	padding: 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	width: 47.25%;
	text-shadow: 0 0 10px black;
}
nav ul {
	display: inline-block;
}
nav a:hover {
	background-color: #AFC883;
	color: black;
	text-shadow: 0 0 0px black;
}
#body {
	background-color: grey;
	clear: both;
	overflow: hidden;
}
.innerColor {
	background-color: white;
	margin: 0px 30px 0px;
	box-shadow: 0px 0px 50px 5px black;
}
.banner {
	text-align: center;
	padding: 120px;
	background-image: url("Images/losReptilesBannerEraBanner.png");
	color: white;
	text-shadow: 0 0 10px black
}
.banner h1 {
	padding-bottom: 20px
}
.cambrianPic {
	float: left;
	padding: 20px;
	padding-top: 40px;
}
.cambrian {
	padding: 60px 60px 0px 60px;
	text-align: justify;
}
.cambrianAnimalsTitle {
	clear: both;
	padding: 20px;
	text-align: center;
	background-color: darkgreen;
	color: white;
	text-shadow: 0 0 10px black;
	text-transform: uppercase;
}
.fix {
	clear: both;
}
.cambrianAnimalsCON {
	float: left;
	padding: 20px;
	clear: both;
}
.cambrianAnimalsP {
	padding: 20px;
	padding-top:80px;
	padding-right: 60px;
	text-align: justify;
}
.cambrianAnimalsP::after {
	clear: both;
	display: table;
	content: "";
}
.up {
	overflow: hidden;
	background-color: darkgrey;
	text-align: center;
}
.up a {
	float: left;
	text-decoration: none;
	color: white;
	padding: 20px;
	width: 100%;
	text-shadow: 0 0 10px black;
}
.up a:hover {
	background-color: grey;
}
/*--Creature Tab--*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/*--Creature Tab--*/